@import "node_modules/bootstrap/scss/bootstrap";
:root {
  --bs-font-sans-serif: 'Roboto', sans-serif;
  --bs-font-monospace: 'Roboto', sans-serif;
  --bs-link-color-rgb:#8A88A0;
  --button-color: #8088E3;
  --button-hover-color: #666FCC;
}

a{
    text-decoration: none !important;
}