// $primary: #ff5733;
// $secondary: #6c757d;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $danger: #dc3545;
// $light: #f8f9fa;
// $dark: #343a40;
@import "node_modules/bootstrap/scss/bootstrap";
:root {
  --bs-font-sans-serif: 'Roboto', sans-serif;
  --bs-font-monospace: 'Roboto', sans-serif;
  --bs-link-color-rgb:#8A88A0;
  --button-color: #8088E3;
  --button-hover-color: #666FCC;
}
a{
    text-decoration: none !important;
}