

//Variables
// Colors
$backgroundColor: #DEDEDE;
$actionColor: #D16464;
$accentColor: #8185E7;
$primaryColor: #2F2E41;
$secondaryColor: #8A88A0;
$tertiaryColor: #3f3f57;
$neutralColor: #FFFFFF;
$hightlightColor: #649DD1;

// Typography
$baseFontSize: 16px;

:root {
  --bs-font-sans-serif: 'Roboto', sans-serif;
  --bs-font-monospace: 'Roboto', sans-serif;
  --bs-link-color-rgb:$secondaryColor;
  --bs-link-hover-color-rgb: $secondaryColor;
  --button-color: $accentColor;
}

// NuxtJS foundations
html,body, #__nuxt, #__layout{
  height:100%!important;
  width: 100%!important;
  margin: 0!important;
}

.foundation a {
  text-decoration: none;
}